################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs/WindowsFormsApp1/FileContentIndex/0d481e97-9442-4c7f-8377-52000d5e6e3c.vsidx
/.vs/WindowsFormsApp1/FileContentIndex/c5ee5d25-15dd-42eb-a4ee-7e50344b9a86.vsidx
